
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  color: #1e3769;
}
/* Header */
#header {
   height: 86px;
    background: #fff;
    transition: transform 0.5s, opacity 0.5s;
    z-index: 997;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
  }
  
  #header.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  #header .logo {
    max-width: 65%;
    height: auto;
  }
  
  .logo img {
    width: 65%;
    height: auto;
  }
  
  /* nav */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  
.navbar li {
    position: relative;
  }
  
  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
    font-size: 15px;
    font-weight: 600;
    color: #1e3769;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #f9690e;
  }
  

  .navbar .btn-tuyensinh {
    background-color: #1e3769;
    color: #fff;
    padding: 10px 22px;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    transition: scale .2 ease;
  }
  
  .navbar .btn-tuyensinh:hover {
    color: #fff;
    background-color: #f9690e;
    scale: 1.05;
  }

  .navbar .btn-tuyensinh:active {
    scale: 0.95;
  }
  

  .mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  .navbar-mobile .btn-tuyensinh
  {
    background-color: #fff;
    color: #1e3769;
    border-radius: 0px;
  }

  .navbar-mobile .btn-tuyensinh:hover {
    color: #f9690e;
    background-color: #fff;
    scale: none;

  }

  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #1e3769;
  }
  
  .navbar-mobile>ul>li {
    padding: 0;
  }
  
  .navbar-mobile a:hover:before,
  .navbar-mobile li:hover>a:before,
  .navbar-mobile .active:before {
    visibility: hidden;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #f9690e;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  /* end header */

/* Footer */
#footer{
    margin-top: 100px;
}

.img-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
  }
  
  .footer-img img {
    max-width: 80%;
    float: right;
    height: auto;
  }
  
  .footer-under {
    padding-bottom: 10px;
  }
  
  .tiktok,
  .youtube,
  .messenger {
    margin-right: 11px;
  }
  
  .social-links a {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    text-decoration: none;
    float: right;
    font-size: 25px;
    
  }
  
  .social-links a:hover {
    background-color: white; 
    color: #000; 
  }
  
  
  @media (max-width: 988px) {
    .img-footer {
     max-width: 60%;
    }
  
    .footer-top .eaut{
      font-size: 25px;
    }
   
    .social-links a {
      float:left;
      font-size: 15px;
      width: 40px;
      height: 40px;
      text-align: center;
    }
   .facebook {
    margin-right: 11px;
  }
  
  }
  
  
  @media (max-width: 768px) {
    .img-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      
    }
    
    .footer-img img {
      max-width: 60%;
      float: none;
      height: auto;
      margin: 0;
    }
  }
  
  
  .footer-info a {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
  }
  
  
  .footer-info p {
    color: #e1e1e1; 
    font-size: 16px;
    font-weight: normal;
  }
  
  .copyright{
    color: #e1e1e1;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  
  #footer {
    background-color:#1e3769 ;
    padding-top: 60px;
  }
  
  .custom-hr2 {
    width: 100%; 
    margin-top: 50px;
    border: none;
    height: 1px;
    background-color: #fff;
  }
  
  /* end footer */


  /* breadcrumb area */
.breadcrumb.custom {
  padding-top: 16px;
  margin-bottom: 0px;
}

.breadcrumb.custom a {
  color: #09316b;
  text-decoration: none;
}

.breadcrumb.custom A:hover {
  color: #f9690e;
}

.hr-breadcrumb {
  margin-top: 0px;
}

/* end breadcrumb area */