/* .collaborate-area */
.collaborate-area h1 {
  font-weight: bold;
}

.collaborate-area {
  text-align: center;
}

.collaborate-area p {
  margin: auto;
  width: 90%;
}

.collaborate-area img {
  width: 100%;
}

/* .collaborate-area */

/* .signing-activities-area */

.signing-activities-area {
  margin-top: 80px;
}

.cta-hop-tac {
  font-weight: bold;
  color: #1e3769;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cta-hop-tac:hover {
  color: #f9690e;
}

/* .signing-activities-area */

/* hợp tác */

.testimonial-item {
  box-sizing: content-box;
  margin-left: 40px;
  margin-bottom: 50px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
}
.testimonials h3 {
  font-size: 48px;
}

.testimonial-item .testimonial-img {
  width: 300px;
  height: 180px;
  object-fit: contain;
  object-position: center;
}

.swiper-pagination {
  margin-top: 20px;
  position: relative;
  padding-left: 30px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1e3769;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1e3769;
}

@media (max-width: 1199px) {
  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-pagination {
    margin-top: 0;
  }
}

.testimonials-slider {
  margin-top: 50px;
}

@media (min-width: 1200px) {
  .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

@media (max-width: 768px) {
  .testimonial-item {
    margin-left: 0px;
  }
  /* .testimonials h3 {
    margin-top: 70px;
    font-size: 32px;
  } */
  .swiper-pagination {
    padding-left: 10px;
  }
}
