/* .collaborate-area */
.collaborate-area h1 {
  font-weight: bold;
}

.collaborate-area {
  text-align: center;
}

.collaborate-area p {
  margin: auto;
  width: 90%;
}

.collaborate-area img {
  width: 100%;
}

/* .collaborate-area */

/* .signing-activities-area */

.signing-activities-area {
  margin-top: 80px;
}



/* .signing-activities-area */
