
body {
  font-size: 8px;

}

/* Banner-Home */

.banner-home {
  position: relative;
  padding-top: 7rem;
}

.banner-home img{
  width: 100%;
}



.banner-home .banner-content {
  position: absolute;
  top: 280px;
  
}

.banner-home .banner-content h1 { 
  font-size: 44px;
  font-weight: 700;
  color: #fff;
}

.banner-home .banner-content h2 {
  color: #f5f5f5;
  margin: 5px 0 30px 0;
  font-size: 21px;
  font-weight: 350;
  margin-bottom: 70px;
}


.banner-content .btn-get-started {
  font-size: 22px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #f9690e;
  text-decoration: none; 
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.banner-content .btn-get-started:hover {
  background: #1e3769;
}


@media (max-width: 1286px) {
  .banner-home .banner-content h1 {
    font-size: 32px;
  }
  .banner-home .banner-content h2 {
    font-size: 17px;
  }
  .banner-home .banner-content {
    top: 250px;
  }
  .btn-get-started {
    font-size: 18px; 
    /* padding: 8px 16px;  */
  }
}

@media (max-width: 1190px) {
  .banner-home .banner-content h1 {
    font-size: 26px;
  }
  .banner-home .banner-content h2 {
    font-size: 15px;
  }
  .banner-home .banner-content {
    top: 230px;
  }
  .btn-get-started {
    font-size: 18px; 
    padding: 8px 16px; 
  }
}

@media (max-width: 1052px) {
  .banner-home .banner-content h1 {
    font-size: 23px;
  }
  .banner-home .banner-content h2 {
    font-size: 14px;
  }
  .banner-home .banner-content {
    top: 200px;
  }
  .btn-get-started {
    font-size: 18px; 
    padding: 8px 16px; 
  }
}

@media (max-width: 995px) {
  .banner-home .banner-content h1 {
    font-size: 23px;
  }
  .banner-home .banner-content h2 {
    font-size: 13px;
    margin-bottom: 45px;
  }
  .banner-home .banner-content {
    top: 170px;
  }

  .banner-content .btn-get-started {
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #f9690e;
    text-decoration: none; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 885px) {
  .banner-home .banner-content h1 {
    font-size: 20px;
  }
  .banner-home .banner-content h2 {
    font-size: 12px;
    margin-bottom: 35px;
  }
  .banner-home .banner-content {
    top: 155px;
  }
  .banner-content .btn-get-started {
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #f9690e;
    text-decoration: none; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .banner-home .banner-content h1 {
    font-size: 16px;
  }
  .banner-home .banner-content h2 {
    font-size: 9.5px;
    margin-bottom: 25px;
  }
  .banner-home .banner-content {
    top: 142px;
  }
  .banner-home .btn-get-started {
    font-size: 12px; 
    padding: 8px 16px; 
  }
  .banner-content .btn-get-started {
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #f9690e;
    text-decoration: none; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 650px) {
  .banner-home .banner-content h1 {
    font-size: 14px;
  }
  .banner-home .banner-content h2 {
    font-size: 9px;
    margin-bottom: 20px;
  }
  .banner-home .banner-content {
    top: 120px;
  }
  .banner-home .btn-get-started {
    font-size: 12px; 
    padding: 8px 16px; 
  }
  .banner-content .btn-get-started {
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #f9690e;
    text-decoration: none; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }

}
@media (max-width: 492px) {
  .banner-home .banner-content h1 {
    font-size: 12px;
  }
  .banner-home .banner-content h2 {
    font-size: 7.5px;
    margin-bottom: 17px;

  }
  .banner-home .banner-content {
    top: 115px;
  }
  .banner-home .btn-get-started {
    font-size: 12px; 
    padding: 8px 16px; 
  }
  .banner-content .btn-get-started {
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #f9690e;
    text-decoration: none; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 420px) {
  .banner-home .banner-content h1 {
    font-size: 12px;
  }
  .banner-home .banner-content h2 {
    font-size: 6.5px;
    margin-bottom: 17px;
  }
  .banner-home .banner-content {
    top: 92px;
  }
  .banner-content .btn-get-started {
    font-size: 9px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #f9690e;
    text-decoration: none; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    
  }
}
/* End Banner */

  .education-about .custom-hr {
    width: 100%;
    margin-top: 80px; 
    margin-bottom: 90px;
    /* margin: 10px auto;  */
    border: none;
    height: 1px;
    background-color: #222222;
  }

/* Education - EAUT */


.education-column {
max-height: calc(6 * 2.5em);
overflow: hidden;
}

.education-column li {
padding: 0;
margin: 0;
list-style: none;
position: relative;
padding-bottom: 5px;
}

.education-column li a {
display: block;
font-size: 18px;
font-weight: bold;
line-height: 1.67;
color: #060A52;
padding: 15px 0;
text-decoration: none;
}

.education-column li:first-child::before,
.education-column li::after {
content: "";
position: absolute;
left: 0;
width: 110%; 
height: 1px;
background-color: #e1e1e1;
}

.education-column li:first-child::before {
top: 0;
}

.education-right {
  margin-left: 100px;
} 


.education-column li::after {
bottom: 0;
}

.education-column {
max-height: 360px;
overflow: hidden;
}

.education-column li a:hover {
background-color: #fff; 
color: #f9690e; 
}


@media (max-width: 768px) {
.education-column li a {
  font-size: 16px; 
  padding: 10px 0; 
}
}


.education-left h1 {
font-size: 28px; 
font-weight: bold;
}

.education-left h2 {
margin-top: 20px;
font-size: 20px; 
text-align: justify;
font-weight:normal;
}

@media (max-width: 991px) {
  .education-right {
    margin-left: 0px;
  } 
  .education-left h1 {
    font-size: 28px; 
    font-weight: bold;
    text-align: center;
    }

}

@media (max-width: 768px) {
.col-lg-5 h1 {
  font-size: 24px; 
}

}

.btn-down li.dropdown a {
display: block;
font-size: 18px;
font-weight: bold;
line-height: 1.67;
color: #f9690e;
padding: 15px 0;
text-decoration: none;

}

.btn-down li{
list-style: none;

}

.title-wrapper h1 {
font-size: 42px; 
}

/* end */


/*--------------------------------------------------------------
# why
--------------------------------------------------------------*/


.section-title {
text-align: center; 
}

.section-title h2 {
font-weight: bold;

}

.section-title h2 span {
color: #f9690e; 
}


.section-bg {
background-color: #f5f5f5; 
}


.about h3 {
font-weight: bold;
text-align: center;
}

.about p {
font-size: 16px;
}
.top h3 {
text-align: left;
font-weight: bold;
}
.top p {
text-align: left;
}
.under h3 {
font-size: 70px;
text-align: right;
font-weight: bold;

}

.under p {
text-align: right;
}


.under .percent {
font-size: 7vw; 
}

.under .percent span {
font-size: 3vw;
vertical-align: top;
}
/* end */

/*  giảng viên  */

#team {
background: #fff;
}

.team {
padding: 60px 0;
}

.section-title h3 {
font-weight: bold;
}

.team .member {
margin-bottom: 20px;
overflow: hidden;
border-radius: 4px;
background: #fff;
box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.member-img img {
width: 100%; 
height: 100%; 
object-fit: cover; 
}


.team .member .member-img {
position: relative;
overflow: hidden;
width: 250px;
height: 320px;
}

.team .member .social {
position: absolute;
left: 0;
bottom: 30px;
right: 0;
opacity: 0;
transition: ease-in-out 0.3s;
text-align: center;
}

.team .member .social a {
transition: color 0.3s;
color: #222222;
margin: 0 3px;
padding-top: 7px;
border-radius: 4px;
width: 36px;
height: 36px;
background: rgba(16, 110, 234, 0.8);
display: inline-block;
transition: ease-in-out 0.3s;
color: #fff;
}

.team .member .social a:hover {
background: #3b8af2;
}

.team .member .social i {
font-size: 18px;
}

.team .member .member-info {
padding: 25px 15px;
}

.team .member .member-info h4 {
font-weight: 700;
margin-bottom: 5px;
font-size: 18px;
color: #1e3769;
}

.team .member .member-info span {
display: block;
font-size: 13px;
font-weight: 400;
color: #aaaaaa;
}

.team .member .member-info p {
font-style: italic;
font-size: 14px;
line-height: 26px;
color: #777777;
}

.team .member:hover .social {
opacity: 1;
bottom: 15px;
}
/* end */


/* <!-- Cmt section --> */
.box .image-container {
position: relative;
width: 100%;
height: 100px;
padding-top: 100%; 
overflow: hidden;
}

.box .image-container img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 50%;

object-fit: cover;
}

#features h3{
color: #fff;
}


#features {
background: #1e3769;
padding: 60px 0 0 0;
overflow: hidden;
}

#features span {
font-style: italic;
color: #e1e1e1;
font-weight:lighter
;
}

#features .features-img {
text-align: center;
padding-top: 20px;
}

@media (min-width: 769px) {
#features .features-img {
  padding-top: 120px;
  margin-top: -200px;
}
}

#features .features-img img {
max-width: 100%;
}

#features .box {
margin-bottom: 15px;
text-align: center;
}

.box h4 {
color: #fff;
}


.box h4,
.box p {
text-align: left;
}

.box span {
display: block;
text-align: left;
}




#features .title {
font-weight: 300;
margin-bottom: 15px;
font-size: 22px;
}

#features .title a {
color: #fff;
}

#features .description {
font-size: 14px;
line-height: 24px;
margin-bottom: 10px;
color: #fff;
}

#features .section-description {
padding-bottom: 10px;
}

/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
.recent-blog-posts .post-box {
box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
transition: 0.3s;
height: 100%;
overflow: hidden;
padding: 30px;
border-radius: 8px;
position: relative;
display: flex;
flex-direction: column;
}
.post-box .post-img {
width: 300px; 
height: 200px;
overflow: hidden;
}

.post-box .post-img img {
width: 100%;
height: 100%;
object-fit: cover;
}


.recent-blog-posts .post-box .post-img img {
transition: 0.5s;
}

.recent-blog-posts .post-box .post-date {
font-size: 16px;
font-weight: 600;
color: rgba(1, 41, 112, 0.6);
display: block;
margin-bottom: 10px;
}

.recent-blog-posts .post-box .post-title {
font-size: 18px;
color: #1e3769;
font-weight: 700;
margin-bottom: 18px;
position: relative;
transition: 0.3s;
}

.recent-blog-posts .post-box:hover .post-title {
color: #4154f1;
}

.recent-blog-posts .post-box:hover .post-img img {
transform: rotate(6deg) scale(1.2);
}

.post-box .description {
font-size: 16px;
color:#1e3769;
margin-bottom: 10px;
}


