body {
    font-family: "Roboto", sans-serif;
    color: #1e3769;
  }


/* Header */
  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
  }
  
  #header.fixed-top {
    height: 70px;
  }

  #header .logo {
    max-width: 65%;
    height: auto;
  }
  
  .logo img {
    width: 65%;
    height: auto;
  }
  
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  
.navbar li {
    position: relative;
  }
  
  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #1e3769;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  /* gạch chân */
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #f9690e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #f9690e;
  }
  

  .navbar .btn-tuyensinh {
    background-color: #1e3769;
    color: #fff;
    padding: 10px 22px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .navbar .btn-tuyensinh:hover {
    color: #fff;
    background-color: #f9690e;
  }
  

  .mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
  }
  
  .navbar-mobile>ul>li {
    padding: 0;
  }
  
  .navbar-mobile a:hover:before,
  .navbar-mobile li:hover>a:before,
  .navbar-mobile .active:before {
    visibility: hidden;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #106eea;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  /* end header */


  /* Slide */

  #hero {
    margin-top: 80px;
    width: 100%;
    height: 75vh;
    background: url("/assets/img/trang\ chủ\ main.png") top left;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  /* #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  } */
  
  #hero .container {
    position: relative;
  }
  
  #hero h1 {
    
    margin-top: 0;
    font-size: 3.8vw;
    font-weight: 700;
    /* line-height: 56px; */
    color: #fff;
    
  }
  
  
  #hero h2 {
    color: #fff;
    margin: 5px 0 30px 0;
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 70px;

  }
  
  .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 10px;
    transition: 0.5s;
    color: #fff;
    background: #f9690e;
    text-decoration: none; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  #hero .btn-get-started:hover {
    background: #1e3769;
  }

  @media (max-width: 768px) {

    .btn-get-started {
      font-size: 14px; 
      padding: 8px 16px; 
    }
  }
  
  @media (max-width: 480px) {
  
    .btn-get-started {
      font-size: 12px; 
      padding: 6px 12px; 
    }
  }
  
  .custom-hr {
    width: 88%; 
    margin: 10px auto; 
    border: none;
    height: 1px;
    background-color: #222222;
  }
  

/* List - EAUT */

.listEAUT-column {
  max-height: calc(5 * 2.5em);
  overflow: hidden;
}

.listEAUT-column li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  padding-bottom: 5px;
}

.listEAUT-column li a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #060A52;
  padding: 15px 0;
  text-decoration: none;
}

.listEAUT-column li:first-child::before,
.listEAUT-column li::after {
  content: "";
  position: absolute;
  left: 0;
  width: 110%; 
  height: 1px;
  background-color: #e1e1e1;
}

.listEAUT-column li:first-child::before {
  top: 0;
}

.listEAUT-column li::after {
  bottom: 0;
}

.listEAUT-column {
  max-height: 360px;
  overflow: hidden;
}

.listEAUT-column li a:hover {
  background-color: #fff; /* Màu nền khi hover */
  color: #f9690e; /* Màu chữ khi hover */
}


@media (max-width: 768px) {
  .listEAUT-column li a {
    font-size: 16px; 
    padding: 10px 0; 
  }
}


.col-lg-5 h1 {
  font-size: 28px; 
  font-weight: bold;

}

.col-lg-5 h2 {
  margin-top: 20px;
  font-size: 20px; 
  text-align: justify;
  font-weight:normal;
}

@media (max-width: 768px) {
  .col-lg-5 h1 {
    font-size: 24px; 
  }

}

.btn-down li.dropdown a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #f9690e;
  padding: 15px 0;
  text-decoration: none;
  
}

.btn-down li{
 list-style: none;
  
}

.title-wrapper h1 {
  font-size: 42px; 
}

/* end */


/*--------------------------------------------------------------
# why
--------------------------------------------------------------*/


.section-title {
  text-align: center; 
}

.section-title h2 {
  font-weight: bold;

}

.section-title h2 span {
  color: #f9690e; 
}


.section-bg {
  background-color: #f5f5f5; 
}


.about h3 {
  font-weight: bold;
  text-align: center;
}

.about p {
  font-size: 16px;
}
.top h3 {
  text-align: left;
  font-weight: bold;
}
.top p {
  text-align: left;
}
.under h3 {
  font-size: 70px;
  text-align: right;
  font-weight: bold;

}

.under p {
  text-align: right;
}


.under .percent {
  font-size: 7vw; 
}

.under .percent span {
  font-size: 3vw;
  vertical-align: top;
}
/* end */

/*  giảng viên  */

#team {
  background: #fff;
}

.team {
  padding: 60px 0;
}

.section-title h3 {
  font-weight: bold;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.member-img img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}


.team .member .member-img {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 320px;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #3b8af2;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #1e3769;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}
/* end */


/* <!-- Cmt section --> */
.box .image-container {
  position: relative;
  width: 100%;
  height: 100px;
  padding-top: 100%; 
  overflow: hidden;
}

.box .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  object-fit: cover;
}

#features h3{
  color: #fff;
}


#features {
  background: #1e3769;
  padding: 60px 0 0 0;
  overflow: hidden;
}

#features span {
  font-style: italic;
  color: #e1e1e1;
  font-weight:lighter
  ;
}

#features .features-img {
  text-align: center;
  padding-top: 20px;
}

@media (min-width: 769px) {
  #features .features-img {
    padding-top: 120px;
    margin-top: -200px;
  }
}

#features .features-img img {
  max-width: 100%;
}

#features .box {
  margin-bottom: 15px;
  text-align: center;
}

.box h4 {
  color: #fff;
}


.box h4,
.box p {
  text-align: left;
}

.box span {
  display: block;
  text-align: left;
}




#features .title {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 22px;
}

#features .title a {
  color: #fff;
}

#features .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #fff;
}

#features .section-description {
  padding-bottom: 10px;
}

/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
.recent-blog-posts .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.post-box .post-img {
  width: 300px; 
  height: 200px;
  overflow: hidden;
}

.post-box .post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
}

.recent-blog-posts .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
  display: block;
  margin-bottom: 10px;
}

.recent-blog-posts .post-box .post-title {
  font-size: 18px;
  color: #1e3769;
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}

.recent-blog-posts .post-box:hover .post-title {
  color: #4154f1;
}

.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

.post-box .description {
  font-size: 16px;
  color:#1e3769;
  margin-bottom: 10px;
}

/* footer */

.img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px; 
}

.footer-img img {
  max-width: 80%;
  float: right;
  height: auto;
}



.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  text-decoration: none;
  margin-right: 10px;
  float: right;
  
}

.social-links a:hover {
  background-color: white; 
  color: #000; 
}

@media (max-width: 768px) {
  .img-footer {
    margin-top: 10px; /* Đẩy ảnh xuống dưới */
  }
  
  .footer-img img {
    max-width: 60%;
  }
}

.footer-info a {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}


.footer-info p {
  color: #e1e1e1; /* Mã màu trắng */
  font-size: 16px;
  font-weight: normal;
}

.copyright{
  color: #e1e1e1;
  font-weight: lighter;
}

#footer {
  background-color:#1e3769 ;
}

.custom-hr2 {
  width: 88%; 
  margin: 10px auto; 
  border: none;
  height: 1px;
  background-color: #fff;
}